<!DOCTYPE html>
<html>
<head>
	<title>doc</title>
</head>
<body>
	<h1>Welcome to MacDonalds</h1>
	
	<form action="/orders/new" method="GET">
			<input type="hidden" name="_method" value="Create an order">
			<input type="submit" value="Create an order">
	</form>
	<%= yield %>
</body>
</html>