 <h1> ashaihsas <h1>


<%= @order[:title] %>'s Order

<form action="/orders/<%= @id %>" method="POST">


	<label for="title">Name: </label>
	<input type="text" name="title" value="<%= @order[:title] %>">

	<label for="body">Order: </label>
	<textarea name="body"><%= @order[:body] %></textarea>

 	<input type="hidden" name="_method" value="PUT">

	<input type="submit" value="Update">
</form>	