<h1> New Order </h1>



<form action="/orders" method="POST">


	<label for="title">Order: </label>
	<br>
	<input type="text" name="title" placeholder="Order Name">
	<br>
	<br>
	<br>
	<label for="body"></label>
	<textarea name="body" placeholder="Order Body"></textarea>
	<br>
	<input type="submit" value="Save">
</form>	