 <h1><%= @page_header %></h1>
	


<h2> Post Titl: <%= @posts[:title] %></h2>
<p> Post Body: <%= @posts[:body] %></p>

<a href="http://localhost:9292/posts">HOME</a>


<input type="submit" value="Update">